<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="supportEmail" value="stoianov.ilian@gmail.com" />
    <add key="supportPhone" value="0883 430 186" />
    <add key="supportSite" value="www.mysite.com" />
    <add key="supportAddress" value="София, бул. България № 34" />
    <add key="creditinalEmail" value="aspdicmail@gmail.com"/>
    <add key="creditinalPassword" value="connect12"/>
  </appSettings>
</configuration>